body {
    margin: 0;
    padding: 0;
    background-color: #1e0000;
    font-family: Georgia, serif;
}

#wrapper {
    display: block;
    max-width: 40%;
    height: 100%;
    margin: 0 auto;
    color: #000;
    text-align: center;
    background-color: #e8e4cd;
}

#pagesLists {
    display: inline-block;
    font-weight: bold;
    color: #9f0000;
    cursor: pointer;
}


ul {
    padding: 10px;
    color: #e59d56;
    display: block;
    list-style: none;
    background-color: #000;
}

#info p:first-of-type:first-letter {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

span {
    display: inline-block;
    margin: 5px 10px;
    font-weight: 800;
}

span:hover {
    transform: scale(1.1);
    transition: .3s;
}

li {
    display: inline;
    transition: .3s;
}

li:hover {
    color: #ddf4c6;
    cursor: pointer;
    transition: .3s;
}

 img {
     max-width: 100%;
 }

 p {
     color: #000;
     padding: 0 5%;
     font-family: system-ui;
     font-size: 18px;
 }

@media screen and (max-width: 600px) {
    body {
        font-size:1.5em;
    }
    #wrapper {
        max-width: 100%;
    }

    li {
        display: block;
        transition: .3s;
    }
}